[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
Authlib = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
cryptography = "*"
ecdsa = "*"
Flask = "*"
Flask-Cors = "*"
frozenlist = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-cloud-core = "*"
google-cloud-datastore = "*"
googleapis-common-protos = "*"
greenlet = "*"
grpcio = "*"
grpcio-status = "*"
httplib2 = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
json2html = "*"
libcst = "*"
MarkupSafe = "*"
multidict = "*"
mypy-extensions = "*"
proto-plus = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
PyMySQL = "*"
pyparsing = "*"
python-dotenv = "*"
python-jose = "*"
PyYAML = "*"
requests = "*"
rsa = "*"
six = "*"
SQLAlchemy = "*"
typing-inspect = "*"
typing_extensions = "*"
uritemplate = "*"
urllib3 = "*"
Werkzeug = "*"
yarl = "*"
google-cloud = "*"
cloud-sql-python-connector = {extras = ["pymysql"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
