<!doctype html>
<html>

<head>
    <title>Create Quiz - Software Quiz</title>
    <script src="{{ url_for('static', filename='create_quiz.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body>
  <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper blue lighten-2 class">
      <div class="row">
        <div class="col s12">
          <a href="{{ url_for('index') }}" class="brand-logo center col s6">Quiz Creation</a>
        </div>
      </div>
    </div>
    </nav>
  </div>

  <div id="configContainer" class="row">
    <h3 id="Question Counter"></h3>
    <h3>Choose an Option:</h3>
    <div id="numberOfQuestions">Your quiz currently has 0 questions.</div>
    <div id="lastQuestion">You do not have a last submitted question for this session.</div>
    <button id="createButton" class="waves-effect waves-light blue btn-small">Create Question</button>
    <button id="nextButton" class="waves-effect waves-light blue btn-small">Next (Submit)</button>
  </div>

  <div class="container" id="container">
    <div class="row hide" id="chooseContainer">
      <h3>Choose a type of question:</h3>
      <button id="multipleChoice" class="waves-effect waves-light blue btn-small">Multiple Choice</button>
      <button id="shortAnswer" class="waves-effect waves-light blue btn-small">Short Answer</button>
      <button id="checkAll" class="waves-effect waves-light blue btn-small">Check All That Apply</button>
      <button id="trueOrFalse" class="waves-effect waves-light blue btn-small">True Or False</button>
      <button id="backButton" class="waves-effect waves-light blue btn-small">Back</button>
    </div>

    <div class="row" id="questionContainer">
      <h5 class="hide" id="questionText">Question:</h5>
      <input class="hide" id="inputQuestion" placeholder="Question"></input>
      <h5 class="hide" id="answerOneText">Answer One (A):</h5>
      <input class="hide" id="inputOne" placeholder="Answer"></input>
      <h5 class="hide" id="answerTwoText">Answer Two (B):</h5>
      <input class="hide" id="inputTwo" placeholder="Answer"></input>
      <h5 class="hide" id="answerThreeText">Answer Three (C):</h5>
      <input class="hide" id="inputThree" placeholder="Answer"></input>
      <h5 class="hide" id="answerFourText">Answer Four (D):</h5>
      <input class="hide" id="inputFour" placeholder="Answer"></input>
      <h5 class="hide" id="correctAnswerText">Correct Answer:</h5>
      <input class="hide" id="inputAnswer" placeholder="A"></input>
      <h5 class="hide" id="correctAnswerTrueFalse">Correct Answer:</h5>
      <input class="hide" id="inputAnswerTrueFalse" placeholder="True"></input>
      <button class="waves-effect waves-light blue btn-small hide" id="addButton">Submit Question</button>
    </div>

    <div class="hide" id="nameEmployerContainer">
      <h4 id="namingText">Please fill out the fields below.</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s2 offset-s4">
              <input placeholder="Test Name" id="inputTestName" type="text" class="validate">
              <label class="active" for="inputTestName" id="inputTestNameLabel">Test Name</label>
            </div>
            <div class="input-field col s2">
              <input placeholder="Employer" id="inputEmployer" type="text" class="validate">
              <label class="active" for="inputEmployer" id="inputEmployerLabel">Employer (Company)</label>
            </div>
          </div>
          <h4 id="namingText">Please indicate an email to send this quiz to.</h4>
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s4 offset-s4">
                  <input placeholder="johndoe@email.com" id="inputEmail" type="email">
                  <label class="active" for="inputEmail" id="inputEmailLabel">E-Mail</label>
                </div>
              </div>
      <button class="waves-effect waves-light blue btn-small" id="submitButton">Submit Quiz</button>
    </div>
    </div>
    </div>
    </div>
  </div>
    
  <div class="row" id="successContainer">
      <h3 class="hide" id="successText">Quiz Submitted.</h3>
    </div>
  
</body>

</html>