<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Engineering Quiz Register Page</title>
</head>

<body>
    <h1>Register Page</h1>
    <div><a href="{{url_for('login')}}">Already have an account? Log in</a></div>
    <div><a href="{{url_for('index')}}">Go back to homepage</a></div>

    <h3>Add new participant:</h3>
    <form id="addparticipant" action="/add_participant" method="post">
        First Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        Password: <input type="text" name="password"><br>
        <input class="btn btn-outline-primary btn-sm" type="submit" value="Submit">
    </form>
</body>

</html>